<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
 
</head>
<body>
    <h1>Chat Application using Django Channels and Redis</h1>
    <textarea name="" id="chat" cols="50" rows="10"></textarea><br>
    <input name="" id="chat-input" size="50"></input><br>
    <input type="button" value="Send" id="chat-submit">
    {{groupName|json_script:"group-name"}}
</body>
<script> 

 // var ws = new WebSocket('ws://127.0.0.1:8000/ws/ac/');
  const groupName=JSON.parse(document.getElementById('group-name').textContent)
  var ws = new WebSocket(
    'ws://' + window.location.host + '/ws/ac/'+groupName +'/'
  );




  ws.onopen = function(){
    //if connection is successful this method will be executed
    console.log('WebSocket connection opened...')
   // ws.send("Hi, from client...")
        }
        // the onmessage will be executed when we get data from the server, and not otherwise
  ws.onmessage = function(event){
     console.log('Message recieved from Server...',event)
     const data=JSON.parse(event.data)
     document.querySelector('#chat').value += (data.msg +'\n') 

        }
  ws.onerror = function(event){
      console.log('WebSocket Error occured while connecting to the server...',event)
        }
        
  ws.onclose = function(event){
            console.log('WebSocket connection closed to the server...',event)
        } 
      
        document.getElementById('chat-submit').onclick =
        function(event){
          const msgInputText = document.getElementById('chat-input').value
          ws.send(JSON.stringify({
          'msg': msgInputText
          }))
          msgInputText.value=""
        }

</script>

</html>
















    
       
