<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket</title>
    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/');

        ws.onopen = function(){
            //if connection is successful this method will be executed
            console.log('WebSocket connection opened...')
            //send message to server...
            ws.send('Message from client...')
        }
        ws.onmessage = function(event){
            console.log('Message recieved from Server...',event)
            console.log('Data attribute recieved from Server...',event['data'])

        }
        ws.onerror = function(event){
            console.log('WebSocket Error occured while connecting to the server...',event)
        }
        ws.onclose = function(event){
            console.log('WebSocket connection closed to the server...',event)
        }


    </script>
</head>
<body>
    <h1>Send/Recieve data to/from Server</h1>
</body>
</html>